aside {
	width: 150px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 20px;
	background-color: #CEDCEC;
	font-family: Verdana;
}

ul {
	list-style: circle;
	padding-left: 15px;
}

h1 {
	text-decoration: underline;	
}

li {
	margin-left: 20px;
}

a {
	color: black;
}
