@model StreamPowered.Web.Models.ViewModels.ReviewShortViewModel

<div class="review-box panel panel-info col-md-12">
    <p>@Model.Content</p>
    <div>
        <strong>@Model.Author</strong>
        on @Model.CreationTime
    </div>
</div>
