<!-- Add estate form -->
<section>
    <div class="add-estate-form">
        <header class="main-header">Add new estate</header>
        <div class="data">
            <label for="name">Name:</label>
            <input type="text" id="name" placeholder="Estate name..." required/>
            <label for="category">Category:</label>
            <select id="category" class="category" required>
                <option value="All">All</option>
                <option value="b3wuQfEBKJ">Condo</option>
                <option value="UdM3spvX8L">Penthouse</option>
                <option value="MgeeBaaiQd">Apartment</option>
                <option value="23NzDAhE53">Studio</option>
            </select>
            <label for="price">Price:</label>
            <input type="text" id="price" placeholder="0.00" required/>
        </div>
        <div class="panel">
            <button id="add-estate-button" class="button">Add</button>
            <a href="#/estates/">
                <button class="button">Cancel</button>
            </a>
        </div>
    </div>
</section>
<br />